.advantages {
  width: auto;
  text-align: center;
  background: linear-gradient(-6deg, $bg-grey 75%, $bg-white 24%);
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

.advantages__promo {
  width: auto;
  padding-top: 40px;
  background-color: $bg-white;
  margin-bottom: 60px;
}

.advantages__text-promo {
  width: 212px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  &:first-of-type {
    padding-bottom: 26px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  margin-top: 73px;
  list-style: none;
  font-size: 18px;
  padding-top: 39px;
}

.advantages__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;

  &:last-child {
    padding-bottom: 304px;
    background-image: url("../img/bg/iphone-screen-mobile@1x.png");
    background-position: bottom -42px center;
    background-repeat: no-repeat;
    background-size: 157px 320px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/iphone-screen-mobile@2x.png");
    }
  }
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: $text-black;
  font-weight: 700;
}

.advantages__description {
  margin-top: 12px;
  line-height: 24px;
  font-size: 14px;
}

.advantages__notice {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    padding-bottom: 0;
    background: linear-gradient(-4deg, $bg-grey 75%, $bg-white 25%);
  }

  .advantages__promo {
    padding-top: 47px;
    padding-bottom: 20px;
    background-color: $bg-white;
  }

  .advantages__text-promo {
    width: 590px;
    font-size: 40px;
    line-height: 49px;

    &:first-of-type {
      padding-bottom: 0;
    }

    &:last-of-type {
      width: 400px;
    }
  }

  .advantages__wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .advantages__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 4px;
  }

  .advantages__item {
    margin-right: 22px;
    padding: 0;
    padding-bottom: 20px;
    width: 308px;
    text-align: left;

    &:last-child {
      padding-bottom: 24px;
      background: none;
    }

    &::before {
      position: absolute;
      content: "";
      top: -43px;
      left: 20px;
      width: 268px;
      height: 490px;
      background-repeat: no-repeat;
      background-size: 268px auto;
    }

    &:nth-child(1)::before {
      background-image: url("../img/bg/iphone-screen-1-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-1-tablet@2x.png");
      }
    }

    &:nth-child(2)::before {
      background-image: url("../img/bg/iphone-screen-2-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-2-tablet@2x.png");
      }
    }

    &:nth-child(3)::before {
      background-image: url("../img/bg/iphone-screen-3-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .advantages__notice {
    display: block;
    margin: 0 auto;
    width: auto;
    padding-top: 56px;
    padding-bottom: 39px;
    background-color: $bg-white;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    background: linear-gradient(-4deg, $bg-grey 71%, $bg-white 10%);
  }

  .advantages__wrapper {
    width: 960px;
  }

  .advantages__promo {
    padding-top: 78px;
    margin-bottom: 0;
  }

  .advantages__text-promo {
    width: 980px;
    font-size: 50px;
    padding-bottom: 30px;
    line-height: 40px;

    &:first-of-type {
      padding-bottom: 10px;
    }

    &:last-of-type {
      width: 450px;
      line-height: 60px;
    }
  }

  .advantages__list {
    background-image: none;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 14px;
  }

  .advantages__description {
    font-size: 18px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 30px;
  }

  .advantages__item {
    position: relative;
    width: 250px;
    margin-right: 0;
    padding-top: 382px;
    text-align: center;

    &:last-child {
      padding-bottom: 20px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 20px;
      left: 50%;
      width: 250px;
      height: 310px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 292px auto;
      transform: translateX(-50%);
    }

    &:nth-child(3n+1)::before {
      background-image: url("../img/bg/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-child(3n+2)::before {
      background-image: url("../img/bg/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3n+3)::before {
      background-image: url("../img/bg/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__notice {
    background-color: $bg-grey;
    padding-top: 20px;
    padding-bottom: 61px;
  }
}
