.contest {
  width: auto;
  background-color: $bg-white;
}

.contest__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contest__item {
  border: none;
  width: 300px;
}

.contest__text {
  text-align: center;
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .contest-form {
    width: 620px;
  }

  .contest__text {
    font-size: 18px;
  }

  .contest__item {
    width: 616px;
  }

  .contest__item:not(:first-of-type) {
    border: 2px solid $border-grey;
  }
}

@media (min-width: $desktop-width) {
  .contest__form {
    width: 980px;
  }
}
