.contest {
  width: auto;
  background-color: $bg-white;
}

.contest__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4px;
}

.contest__item {
  border-style: none;
}

.contest__wrapper {
  width: 100%;
  background-color: $bg-grey;
}

.contest__legend {
  display: none;
}

.contest__text {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 44px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 33px;
  width: 281px;
  min-height: 84px;
  overflow: hidden;
  font-size: 14px;
  line-height: 30px;
}

.contest__button {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 21px 40px 22px 40px;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $text-white;
  font-weight: 700;
  background-color: $light-green;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba($text-white, 0.3);
  }
}

.contest__fn {
  font-size: 14px;
  text-transform: uppercase;
}

.contest__text-fn {
  display: block;
  padding-top: 24px;
  text-align: center;
}

.contest__symbol {
  color: $firm-pink;
}

.contest__text-hidden {
  display: none;

  &:first-of-type {
    display: inline;
  }
}


@media (min-width: $tablet-width) {
  .contest__form {
    width: 660px;
    align-items: stretch;
  }

  .contest__wrapper {
    width: auto;
    background-color: $bg-white;
    display: flex;

    align-items: stretch;

    &--checkbox {
      order: 4;
    }

    &--radio {
      order: 2;
    }
  }

  .contest__legend {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    color: $firm-pink;
    text-align: center;
    font-size: 14px;
  }

  .contest__text {
    width: 500px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 92px;
    height: auto;
  }

  .contest__item:not(:first-of-type) {
    border: 2px solid $border-grey;
  }

  .contest__fn {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .contest__button {
    width: 300px;
    margin-left: 19px;
    padding: 21px 50px;
  }

  .contest__text-fn {
    margin-right: 19px;
    padding-top: 23px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contest__form {
    width: 980px;
    padding-top: 30px;
    flex-direction: row;
  }

  .contest__wrapper--radio {
    width: 50%;
  }

  .contest__text {
    width: 760px;
    margin-top: 80px;
    padding-top: 92px;
    height: auto;
  }

  .contest__text-hidden {
    display: inline;
  }

  .contest__fn {
    margin-bottom: 15px;
  }
}
