.copyright {
  margin: 0;
  padding: 0;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: $firm-blue;

  &:hover .copyright__image {
    fill: $firm-blue;
  }

  &:active .copyright__image {
    fill: rgba($firm-blue, 0.3);
  }
}

.copyright__text {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 14px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    font-size: 18px;
  }

  .copyright__text {
    padding-right: 15px;
  }
}
