.filter-input {
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 44px;
  background-color: $bg-grey;
}

.filter-input__label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 20px;
  width: 230px;
  margin: 0 auto;
  color: $firm-pink;
  text-align: center;
}

.filter-input__item {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  line-height: 30px;
}

.filter-input__option {
  margin: 0;
  padding: 0;

  &--checkbox {
    margin-bottom: 52px;
    margin-top: 24px;
  }

  &--radio {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  &:last-child {
    margin-bottom: 3px;
  }
}

.filter-input__title {
  padding: 0;
  margin: 0;
  color: $firm-pink;
  text-align: center;
  background-color: $bg-grey;
}

.filter-input__checkbox-label {
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 1px;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border: solid 2px $border-grey;
    background-color: $bg-white;
    transform: translateY(50%);
  }
}

.filter-input__yes-icon {
  display: none;
  position: absolute;
  fill: $firm-pink;
  bottom: 50%;
  left: 8px;
  transform: translateY(50%);
}

.filter-input__checkbox:checked + .filter-input__yes-icon {
  display: block;
}

.filter-input__radio-label {
  position: relative;
  padding-left: 69px;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: solid 2px $border-grey;
    border-radius: 50%;
    background-color: $bg-white;
    transform: translateY(50%);
  }
}

.filter-input__radio:checked + .filter-input__radio-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $firm-pink;
}

.filter-input__radio + .filter-input__radio-label:hover::before,
.filter-input__radio:checked + .filter-input__radio-label:hover::before,
.filter-input__radio:focus + .filter-input__radio-label::before,
.filter-input__radio:focus:checked + .filter-input__radio-label::before,
.filter-input__checkbox-label:hover::before,
.filter-input__checkbox-label:focus-within::before {
  border-color: $firm-blue;
}

.filter-input__radio + .filter-input__radio-label:active::before,
.filter-input__radio:checked + .filter-input__radio-label:active::before,
.filter-input__checkbox-label:active::before {
  border-color: $firm-pink;
}

@media (min-width: $tablet-width) {
  .filter-input {
    width: auto;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: $bg-white;
    border: 2px solid $border-grey;
  }

  .filter-input__label {
    display: none;
  }

  .filter-input__radio-label {
    padding-left: 59px;
  }

  .filter-input__checkbox-label {
    padding-left: 59px;
  }

  .filter-input__option {
    margin-left: 24px;

    &--checkbox {
      margin-bottom: 52px;
      margin-top: 8px;
    }

    &--radio {
      margin-top: 7px;
      margin-bottom: 45px;
    }

    &--radio:last-child {
      margin-bottom: 15px;
    }

    &--checkbox:last-child {
      margin-bottom: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter-input--checkbox .filter-input__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filter-input__option {
    flex-basis: 20%;
    flex-grow: 1;
  }
}
