.gallery {
  width: auto;
  background-color: $bg-white;
}

.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.gallery__text {
  display: block;
  width: 245px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 56px;
  font-size: 14px;
}

.gallery__list {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.gallery__figure {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  min-height: 322px;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 250px;
  padding-left: 17px;
  padding-right: 13px;
  min-height: 143px;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  background-color: $bg-grey;
}

.gallery__info-text,
.gallery__caption,
.gallery__rates {
  padding: 0;
  margin: 0;
}

.gallery__info-text {
  margin-top: 19px;
}

.gallery__caption {
  padding-bottom: 20px;
}

.gallery__author {
  font-weight: 700;
}

.gallery__time {
  font-size: 12px;
  font-weight: 300;
}

.gallery__rates {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: auto;
  color: $firm-pink;
  text-transform: uppercase;
}

.gallery__like-button {
  position: relative;
  width: 13px;
  height: 12px;
  margin-right: 19px;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (min-width: $tablet-width) {
  .gallery__wrapper {
    width: 660px;
  }

  .gallery__text {
    width: 440px;
    font-size: 18px;
  }

  .gallery__list {
    width: 620px;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 1;
  }

  .gallery__description {
    width: 270px;
    min-height: 144px;
    
    &--panorama {
      width: 590px;
      min-height: 121px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .gallery__info-text--panorama {
    order: 1;
  }

  .gallery__caption--panorama {
    order: 3;
    margin-bottom: 25px;
    width: 519px;
  }

  .gallery__rates--panorama {
    order: 2;
    width: 140px;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .gallery__caption {
    padding-bottom: 0;
  }

  .gallery__rates {
    justify-content: space-between;
  }

  .gallery__like-button {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    width: 1200px;
  }

  .gallery__text {
    width: 568px;
  }

  .gallery__list {
    width: 940px;
  }

  .gallery__description {
    width: 270px;
    min-height: 155px;
    
    &--panorama {
      width: 910px;
      min-height: 96px;
    }
  }

  .gallery__caption--panorama {
    width: 873px;
  }
}
