.gallery {
  width: auto;
  background-color: $bg-white;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-top: 30px;
}

.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
}

.gallery__text {
  display: block;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-size: 14px;

  &--top {
    margin-top: 24px;
    margin-bottom: 50px;
  }

  &--bottom {
    margin-top: 23px;
  }

  &--bottom:last-of-type {
    margin-top: 0;
    margin-bottom: 2px;
  }
}

.gallery__list {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.gallery__item {
  margin-bottom: 20px;
}

.gallery__figure {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: stretch;
  margin: 0;
  padding: 0;
  height: auto;

  &--panorama {
    margin-bottom: 20px;
  }
}

.gallery__img--panorama {
  width: 100%;
}

.gallery__link {
  line-height: 0;
  padding: 0;
  margin: 0;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 250px;
  padding-left: 17px;
  padding-right: 13px;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  background-color: $bg-grey;
}

.gallery__info-text,
.gallery__caption,
.gallery__rates {
  padding: 0;
  margin: 0;
}

.gallery__info-text {
  margin-top: 17px;
}

.gallery__caption {
  padding-bottom: 10px;
}

.gallery__author {
  font-weight: 700;
}

.gallery__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__rates {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: auto;
  color: $firm-pink;
  text-transform: uppercase;

  &--panorama {
    margin-bottom: 20px;
  }
}

.gallery__like-button {
  position: relative;
  width: 13px;
  height: 12px;
  margin-right: 19px;
}

.gallery__heart-icon {
  fill: $firm-pink;
}

.gallery__link--panorama::before {
  position: absolute;
  content: "панорама дня";
  top: 0;
  right: 20px;
  padding: 5px 20px 7px 19px;
  font-size: 12px;
  font-weight: 700;
  color: $text-white;
  text-transform: uppercase;
  line-height: 24px;
  background-color: $firm-pink;
}


@media (min-width: $tablet-width) {
  .gallery {
    margin-top: 80px;
  }

  .gallery__wrapper {
    width: 660px;
  }

  .gallery__text {
    width: 440px;
    font-size: 18px;
    margin-top: 72px;
    margin-bottom: 76px;

    &--bottom {
      margin-bottom: 0;
      margin-top: 45px;
    }

    &--bottom:last-of-type {
      margin-top: 0;
      margin-bottom: 29px;
    }
  }

  .gallery__img--panorama {
    height: 509px;
  }

  .gallery__list {
    width: 640px;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 1;
  }

  .gallery__description {
    width: 270px;
    padding-top: 8px;
    min-height: 147px;

    &--panorama {
      width: 590px;
      min-height: auto;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 29px;
    }
  }

  .gallery__author {
    padding-left: 11px;
  }

  .gallery__info-text--panorama {
    order: 1;
  }

  .gallery__caption {
    padding-left: 11px;
    padding-right: 15px;
    padding-bottom: 0;

    &--panorama {
      order: 3;
      padding-left: 11px;
      letter-spacing: 0.2px;
      margin-bottom: 24px;
      width: 519px;
    }
  }

  .gallery__rates {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 4px;
    justify-content: space-between;
  
    &--panorama {
      order: 2;
      width: 135px;
      letter-spacing: 0.4px;
      margin-top: 17px;
      font-size: 11px;
      margin-bottom: 0;
    }
  }

  .gallery__like-button {
    order: 2;
    margin-right: 15px;
    margin-top: 1px;
  }

  .gallery__link--panorama::before {
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    width: 1200px;
  }

  .gallery__text {
    width: 600px;
    margin-bottom: 88px;

    &--bottom {
      margin-bottom: 0;
      margin-top: 6px;
    }

    &--bottom:last-of-type {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  .gallery__list {
    width: 960px;
  }

  .gallery__item {
    margin-bottom: 53px;
  }

  .gallery__img--panorama {
    height: 506px;
  }

  .gallery__description {
    width: 270px;
    min-height: 148px;

    &--panorama {
      width: 910px;
      min-height: 88px;
    }
  }

  .gallery__caption--panorama {
    width: 873px;
  }

  .gallery__link--panorama::before {
    top: 54px;
    right: 130px;
    letter-spacing: -1px;
    padding: 5px 18px 7px 16px;
  }

  .gallery__rates {
    font-size: 6px;
    letter-spacing: -0.9px;
    margin-bottom: 22px;

    &--panorama {
      margin-bottom: 0;
    }
  }

  .gallery__time {
    letter-spacing: -1px;
  }
}
