.gallery {
  width: 100%;
  background-color: $bg-white;
  padding-top: 36px;
}

.gallery-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__text {
  display: block;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 56px;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 14px;
}

.gallery__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .gallery-wrapper {
    width: auto;
  }

  .gallery__text {
    font-size: 18px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-wrapper {
    padding-left: 130px;
    padding-right: 130px;
  }

  .gallery__text {
    padding-left: 316px;
    padding-right: 316px;
  }
}
