.notice__wrapper {
  position: relative;
  width: 295px;
  margin: 0 auto;
  min-height: 276px;
  padding-left: 329px;
  padding-right: 20px;
  text-align: left;
}

.notice__title {
  width: 200px;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.notice__text {
  font-size: 14px;
}

.notice__link {
  padding: 0;
  margin: 0;
  color: $firm-pink;
  text-decoration: none;
}

.notice__wrapper::before {
  position: absolute;
  content: "";
  top: -43px;
  left: 0;
  width: 238px;
  height: 276px;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 238px 276px;
}

.notice__wrapper::after {
  position: absolute;
  content: "24";
  top: 15px;
  left: 18px;
  width: 172px;
  height: 172px;
  line-height: 150px;
  text-align: center;
  font-size: 96px;
  color: $firm-pink;
  font-weight: 700;
  border: 15px solid $firm-pink;
  border-radius: 50%;
}

@media (min-width: $desktop-width) {
  .notice__wrapper {
    width: 550px;
  }
}

