.notice {
  position: relative;
  width: 295px;
  margin: 0 auto;
  min-height: 276px;
  padding-left: 329px;
  padding-right: 20px;
}

.notice__title {
  font-size: 30px;
  font-weight: 700;
}

.notice__text {
  font-size: 14px;
}

.notice__link {
  color: $firm-pink;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .notice::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 238px;
    height: 276px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 238px 276px;
  }

  .notice::after {
    position: absolute;
    content: "24";
    top: 59px;
    left: 18px;
    width: 172px;
    height: 172px;
    line-height: 150px;
    text-align: center;
    font-size: 96px;
    color: $firm-pink;
    font-weight: 700;
    border: 15px solid $firm-pink;
    border-radius: 50%;
  }
}


@media (min-width: $desktop-width) {
  .notice {
    width: 525px;
    padding-right: 130px;
  }
}
