.page-footer {
  display: none;
  width: 320px;
  min-height: 127px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &--active {
    display: block;
  }
}

.page-footer__logo {
  padding-left: 86px;
  padding-right: 46px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    display: block;
  }

  .page-footer__wrapper {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 980px;
  }
}
