.page-footer {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &--active {
    display: block;
  }
}

.page-footer__logo {
  padding-left: 86px;
  padding-right: 86px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-right: 130px;
    padding-left: 130px;
  }
}
