.page-footer {
  display: none;
  width: auto;
  margin: 0;
  padding: 0;
  
  &--active {
    display: block;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  min-height: 127px;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 980px;
  }
}
