.page-header {
  position: relative;
  width: auto;
  background-color: rgba($bg-black, 0.3);
  z-index: 1;

  &--active {
    background-color: $firm-blue;
  }
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  width: 148px;
  height: 22px;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;
  fill: $text-white;

  &:hover[href],
  &:focus[href] {
    fill: $firm-pink;
  }

  &:active[href] {
    opacity: 0.5;
  }
}

.page-header__tablet,
.page-header__desktop {
  display: none;
}

.page-header__desktop-blink {
  fill: $firm-pink;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 660px;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .page-header__mobile {
    display: none;
  }

  .page-header__tablet {
    display: inline-block;
    vertical-align: bottom;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: rgba($bg-black, 0.3);
  }

  .page-header__wrapper {
    width: 940px;
    display: flex;
    flex-direction: row;
  }

  .page-header__logo {
    padding-left: 0;
  }

  .page-header__tablet {
    display: none;

    &--text {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .page-header__desktop {
    display: inline-block;
    vertical-align: bottom;
  }
}
