.photo-list {
  font-size: 14px;
  text-align: center;
  &__image {
    margin: 0;
    padding: 0;
  }
  &__description {
    display: block;
    margin: 0 auto;
    width: 280px;
    background-color: #f2f2f2;
  }
  &__link {
    padding: 0;
    margin: 0;
  }
  &__text {
    display: block;
    margin-top: 0;
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: left;
    font-weight: 300;
  }
  &__author {
    font-weight: 700;
  }
  &__time {
    font-size: 12px;
    font-weight: 300;
  }
}
