.photo-list {
  font-size: 14px;
  text-align: center;
}

.photo-list__image {
  margin: 0;
  padding: 0;
}

.photo-list__description {
  display: block;
  margin: 0 auto;
  width: 280px;
  background-color: #f2f2f2;
}

.photo-list__link {
  padding: 0;
  margin: 0;
}

.photo-list__text {
  display: block;
  margin-top: 0;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 17px;
  text-align: left;
  font-weight: 300;
}

.photo-list__author {
  font-weight: 700;
}

.photo-list__time {
  font-size: 12px;
  font-weight: 300;
}
