.photo-list {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-list__item {
  padding-right: 20px;
}

.photo-list__figure {
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.photo-list__description {
  display: block;
  margin: 0 auto;
  width: 280px;
  background-color: $bg-grey;
}

.photo-list__link {
  display: block;
  padding: 0;
  margin: 0;
}

.photo-list__text {
  display: block;
  margin-top: 0;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 17px;
  text-align: left;
  font-weight: 300;
}

.photo-list__author {
  font-weight: 700;
}

.photo-list__time {
  font-size: 12px;
  font-weight: 300;
}


@media (min-width: $tablet-width) {
  .photo-list {
    flex-direction: row;
  }

  .photo-list__description {
    width: 300px;
  }

  .photo-list__item:first-child .photo-list__description {
    width: 620px;
  }

  .photo-list__item:not(:first-child) .photo-list__link {
    width: 300px;
    height: 300px;
  }

}

@media (min-width: $desktop-width) {
  .photo-list__item:first-child .photo-list__link {
    width: 1200px;
    height: 506px;
}

  .photo-list__item:not(:first-child) .photo-list__link {
    height: 400px;
  }

  .photo-list__item:first-child .photo-list__description {
    width: 940px;
  }
}
