.prices {
  width: auto;
  background: linear-gradient(-5deg, $bg-grey 90%, $bg-white 10%);
}

.prices__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 111px;
  overflow: hidden;
  box-sizing: border-box;
}

.prices__rate {
  transform: translateX(2px);
}

.prices__rate--base {
  transform: translateX(282px);
}

.prices__rate--standart {
  transform: translateX(2px);
}

.prices__rate--unlim {
  transform: translateX(-282px);
}

.prices .prices__toggles {
  padding-top: 21px;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .prices {
    background: linear-gradient(-5deg, $bg-grey 75%, $bg-white 10%);
  }

  .prices__wrapper {
    width: 660px;
  }

  .prices .prices__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    background: linear-gradient(-3deg, $bg-grey 75%, $bg-white 10%);
  }

  .prices__wrapper {
    width: 980px;
  }
}
