.range {
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.range__bar {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: $firm-blue;
}

.range__toggle {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  box-sizing: border-box;
  border: solid 2px $firm-pink;
  border-radius: 50%;
  background-color: $bg-white;
  transform: translateY(50%);
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    background-color: $firm-pink;
  }
}

.range--crop .range__toggle {
  left: 100%;
}

.range--fill .range__toggle {
  left: 50%;
}

.range--contrast .range__toggle {
  left: 25%;
}

.range__toggle--grey {
  background-color: $bg-grey;
}

@media (min-width: $tablet-width) {
  .range {
    margin: 0;
    margin-top: 3px;
  }

  .range__bar {
    width: 202px;
    margin-right: 25px;
    margin-bottom: 34px;
    margin-top: 34px;
  }

  .range--contrast .range__bar {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .range--crop .range__toggle {
    left: 77%;
  }

  .range--fill .range__toggle {
    left: 13%;
  }

  .range--contrast .range__toggle {
    left: 50%;
  }
}

@media (min-width: $desktop-width) {
  .range__bar {
    width: 288px;
  }

  .range--crop .range__toggle {
    left: 26%;
  }

  .range--fill .range__toggle {
    left: 91%;
  }

  .range--contrast .range__toggle {
    left: 59%;
  }
}