.rate-list {
  background-color: $bg-grey;
  width: 828px;
  padding: 0;
  margin: 0;
}

.rate-list__item {
  width: 100px;
}

.rate-list__name {
  padding-top: 23px;
  padding-bottom: 21px;
  color: $text-white;
  background-color: $firm-blue;
  font-weight: 700;
  text-align: center;
}

.rate-list__ability {
  padding-top: 22px;
  padding-bottom: 23px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  background-color: $bg-white;
}
