.reviews {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  &__list {
    list-style: none;
  }
  &__author-name {
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
  }
  &__text {
    font-size: 14px;
    line-height: 30px;
  }
}
