.social__list {
  width: 178px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.social__item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  margin: 0;
  padding: 0;
  background-color: $bg-white;
  border: 3px solid rgba($firm-blue, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;

  &:hover {
    border: 3px solid $firm-blue;
  }

  &:active {
    opacity: 0.3;
    border: 3px solid rgba($firm-blue, 0.1);
  }

  .social__logo-img {
    fill: $firm-pink;
  }
}
