.upload {
  width: auto;
  padding-top: 20px;
  padding-bottom: 42px;
  background-color: $bg-grey;
}

.upload__form {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.upload__img {
  width: 280px;
  height: 180px;
}

.upload__link-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 212px;
  margin: 35px auto 30px;
  padding: 0;
}

.upload__crop-icon {
  width: 48px;
  height: 48px;
  margin-right: 32px;
}

.upload__fill-icon {
  width: 48px;
  height: 48px;
  margin-top: 2px;
  margin-right: 40px;
}

.upload__contrast-icon {
  width: 33px;
  height: 33px;
  margin-top: 8px;
}

.upload__link svg {
  opacity: 0.3;
}

.upload__link--active svg {
  fill: $firm-pink;
  opacity: 1;
}

.upload__range {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;

  &::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($firm-blue, 0.1);
  }
}

.upload__range-item {
  display: none;

  &--active {
    margin: 0 auto;
    width: 230px;
    display: block;
  }
}

.upload__buttons {
  margin: 0;
  padding: 20px 0 0;
  line-height: 0;
}

.upload__button {
  min-width: 280px;
  box-sizing: border-box;
  padding: 13px 89px 15px 88px;
  border-radius: 35px;
  text-align: center;
  color: $firm-pink;
  vertical-align: middle;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid $firm-pink;
  cursor: pointer;
}

.upload__button--submit {
  margin-bottom: 12px;

  &:hover,
  &:focus {
    background-color: $firm-pink;
    color: $text-white;
  }

  &:active {
    color: rgba($text-white, 0.3);
  }
}

.upload__button--reset {
  color: rgba($firm-blue, 0.1);
  border-color: rgba($firm-blue, 0.1);

  &:hover,
  &:focus {
    color: rgba($firm-blue, 0.3);
    border-color: rgba($firm-blue, 0.3);
  }

  &:active {
    color: rgba($text-white, 0.3);
    background-color: rgba($firm-blue, 0.3);
    border-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .upload {
    padding-bottom: 53px;
  }

  .upload__form {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }

  .upload__range-item {
    display: block;
    width: 190px;

    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: -54px;
      width: 274px;
      height: 1px;
      background-color: rgba($firm-blue, 0.1);
    }
  }

  .upload__img {
    width: 300px;
    height: 300px;
    margin-top: 37px;
    margin-right: 46px;
  }

  .upload__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .upload__link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 5%;
    margin: 0;
    padding: 0;
    margin-top: 44px;
  }

  .upload__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
  }

  .upload__crop-icon {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  .upload__fill-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
    margin-right: 0;
    margin-left: 2px;
  }

  .upload__contrast-icon {
    width: 16px;
    height: 16px;
    margin-bottom: 30px;
    margin-left: 3px;
  }

  .upload__link svg {
    fill: $firm-pink;
    opacity: 1;
  }

  .upload__range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 80%;
    padding-top: 19px;
    height: 162px;
    width: 200px;

    &::after {
      display: none;
    }
  }

  .upload__buttons {
    margin-top: 59px;
    margin-right: 11px;
  }

  .upload__button {
    min-width: 261px;
    padding: 13px 82px 16px 74px;
  }

  .upload__button--submit {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    padding-bottom: 62px;
    background-color: $bg-white;
  }

  .upload__form {
    width: 940px;
    padding-bottom: 57px;
    background-color: $bg-grey;
  }

  .upload__img {
    width: 300px;
    height: 400px;
    margin-left: 80px;
    margin-top: 57px;
  }

  .upload__link-list {
    flex-basis: 2%;
    margin-top: 52px;
    margin-left: 40px;
  }

  .upload__link {
    width: 50px;
    height: 50px;
  }

  .upload__crop-icon {
    width: 48px;
    height: 48px;
    margin-right: 0;
    margin-left: 2px;
  }

  .upload__fill-icon {
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .upload__contrast-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    margin-left: 3px;
  }

  .upload__range {
    margin-top: 20px;
    margin-right: 90px;
    width: 288px;
    flex-basis: auto;
  }

  .upload__range-item {
    width: 270px;

    &::after {
      bottom: -2px;
      left: -92px;
      width: 410px;
    }
  }

  .upload__buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-top: 142px;
    margin-right: 0;
    margin-left: 44px;
  }

  .upload__button {
    margin-top: 16px;
    min-width: 183px;
    padding: 13px 37px 16px 42px;
  }

  .upload__button--submit {
    margin-bottom: 0;
    margin-right: 44px;
  }
}
