.user-info {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-info__item {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: $firm-pink;
}

.user-info__input {
  width: 100%;
  padding: 17px 22px 18px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $border-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $firm-blue; 
  }

  &:focus {
    border-color: $firm-pink;
  }
}

@media (min-width: $desktop-width) {
  .user-info {
    width: 433px;
    border: none;
  }
}
