.user-contacts {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: $firm-pink;
}

.user-contacts__item {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
  color: $firm-pink;
}

.user-contacts__item svg {
  display: none;
  fill: $firm-pink;
}

.user-contacts__input {
  width: 100%;
  padding: 17px 22px 18px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $border-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $firm-blue;
  }

  &:focus {
    border-color: $firm-pink;
  }
}

@media (min-width: $tablet-width) {
  .user-contacts {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    order: 3;
  }

  .user-contacts__item {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
  }

  .user-contacts__item svg {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: $bg-grey;
  }

  .user-contacts__phone-icon {
    padding: 21px 20px 19px;
  }

  .user-contacts__email-icon {
    padding: 24px 21px 22px;
  }

  .user-contacts__input {
    padding: 15px 63px 15px 22px;
  }

  .user-contacts__label {
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts {
    width: 936px;
  }

  .user-contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .user-contacts__item {
    flex-grow: 1;
  }
}
