.user-comment {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: $firm-pink;
}

.user-comment__label {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 11px;
  text-align: center;
}

.user-comment__item {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
  color: $firm-pink;
}

.user-comment__input {
  width: 100%;
  height: 200px;
  padding: 14px 18px 18px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 11px;
  border: 2px solid $border-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $firm-blue;
  }

  &:focus {
    border-color: $firm-pink;
  }
}

@media (min-width: $tablet-width) {
  .user-comment {
    width: auto;
    margin-left: 19px;
    margin-right: 20px;
    margin-bottom: 41px;
    margin-top: 21px;
    order: 5;
  }

  .user-comment__label {
    display: none;
  }

  .user-comment__item {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 29px;
  }

  .user-comment__input {
    height: 193px;
  }
}

@media (min-width: $desktop-width) {
  .user-comment {
    width: 936px;
  }
}
