.user-info {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;
}

.user-info__item {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  line-height: 30px;
  color: $firm-pink;
}

.user-info__label {
  padding-left: 22px;
  font-size: 14px;
}

.user-info__input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 14px 20px 15px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $border-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $firm-blue;
  }

  &:focus {
    border-color: $firm-pink;
  }
}

@media (min-width: $tablet-width) {
  .user-info {
    margin-top: 26px;
    padding-left: 17px;
    padding-right: 19px;
    padding-bottom: 8px;
    width: auto;
    border: none;
    order: 1;
  }

  .user-info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 32px;
  }

  .user-info__label {
    padding-left: 0;
    margin-bottom: 8px;
  }

  .user-info__input {
    margin-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .user-info {
    margin: 0;
    margin-top: 11px;
    padding-left: 0;
    padding-bottom: 8px;
    width: 436px;
    border: none;
  }

  .user-info__input {
    margin-left: 17px;
    margin-right: 2px;
  }

  .user-info__item {
    padding-bottom: 33px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
