body {
  padding: 0;
  margin: 0;
  font-family: Opensans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  letter-spacing: normal;
  color: #283645;
  background-color: #ffffff;
}

@import "fonts.scss";
@import "visually-hidden.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/intro.scss";
@import "blocks/store-list.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/prices.scss";
@import "blocks/rate-list.scss";
@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/gallery.scss";
@import "blocks/photo-list.scss";
@import "blocks/upload.scss";
@import "blocks/social-list.scss";
